global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 666 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        maxconn 2048
        tune.ssl.default-dh-param 2048

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # Default ciphers to use on SSL-enabled listening sockets.
        # For more information, see ciphers(1SSL). This list is from:
        #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
        # An alternative list with additional directives can be obtained from
        #  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
        ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
        ssl-default-bind-options no-sslv3

        # Followed guide: https://www.suse.com/c/speeding-ssl-need-know-haproxy/
        # launch 5 process
        # process 1 for plain routing
        # process 2-5 for SSL
        nbproc 5

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        option  forwardfor
        option  http-server-close
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

        # by default use process 1
        bind-process 1

listen ssl
        # bind processes 2-5
        bind-process 2-5

        bind {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:443 tfo ssl no-sslv3 crt /etc/haproxy/certs/{{ MY_DOMAIN }}.pem process 2
        bind {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:443 tfo ssl no-sslv3 crt /etc/haproxy/certs/{{ MY_DOMAIN }}.pem process 3
        bind {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:443 tfo ssl no-sslv3 crt /etc/haproxy/certs/{{ MY_DOMAIN }}.pem process 4
        bind {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:443 tfo ssl no-sslv3 crt /etc/haproxy/certs/{{ MY_DOMAIN }}.pem process 5

        option tcp-smart-connect

        server http 127.0.0.1:84 send-proxy-v2

frontend dennis_site_http
        bind {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:80 tfo

        redirect scheme https code 301

frontend dennis_site_https
        bind 127.0.0.1:84 tfo accept-proxy
        acl is_ssl fc_rcvd_proxy

        default_backend dennis_site_k8s_service

backend dennis_site_k8s_service
        option forwardfor
        server k8s {{ DENNIS_SITE_IP }}:80 check
