user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
        worker_connections 768;
        # multi_accept on;
}

http {

        ##
        # Basic Settings
        ##

        sendfile on;
        tcp_nopush on;
        tcp_nodelay on;
        keepalive_timeout 65;
        types_hash_max_size 2048;
        # server_tokens off;

        # server_names_hash_bucket_size 64;
        # server_name_in_redirect off;

        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        ##
        # SSL Settings
        ##

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
        ssl_prefer_server_ciphers on;

        ssl_session_cache   shared:SSL:10m;
        ssl_session_timeout 10m;
        ssl_certificate     /etc/letsencrypt/live/{{ MY_DOMAIN }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ MY_DOMAIN }}/privkey.pem;

        ##
        # Logging Settings
        ##

        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        ##
        # Gzip Settings
        ##

        gzip on;

        # gzip_vary on;
        # gzip_proxied any;
        # gzip_comp_level 6;
        # gzip_buffers 16 8k;
        # gzip_http_version 1.1;
        # gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

        ##
        # Request limitimg Settings
        ##

        limit_req_zone $binary_remote_addr zone=one:10m rate=1r/s;

        ##
        # Virtual Host Configs
        ##

        server {

                listen 127.0.0.1:9090;
                location /nginx_status {
                        stub_status on;

                        access_log off;
                        allow 127.0.0.1;
                        deny all;
                }
        }

        server {
                listen      {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:80 default_server;
                server_name _;

                return 301 https://$host$request_uri;
        }

        # Kube Ops View
        server {
                listen      {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:443 ssl;
                server_name kube.{{ MY_DOMAIN }};
                access_log  /var/log/nginx/kube.{{ MY_DOMAIN }}.access.log;

                location / {
                        proxy_pass http://{{ KUBE_OPS_VIEW_IP }}:80;
                }
        }

        # BitWarden
        server {
                listen      {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:443 ssl;
                server_name bitwarden.{{ MY_DOMAIN }};
                access_log  /var/log/nginx/bitwarden.{{ MY_DOMAIN }}.access.log;

                location / {
                        proxy_pass http://{{ BITWARDEN_IP }}:80;
                }
        }

        # My site and default
        server {
                listen      {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:443 ssl;
                server_name {{ MY_DOMAIN }} *.{{ MY_DOMAIN }};
                access_log  /var/log/nginx/{{ MY_DOMAIN }}.access.log;

                location / {
                        proxy_pass http://{{ DENNIS_SITE_IP }}:80;
                }
        }
}

stream {
        server {
                listen     {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:53 udp;
                error_log /var/log/nginx/dns.error.log;

                proxy_pass      127.0.0.1:5353;
                proxy_responses 1;
                proxy_timeout   1s;
        }

        server {
                listen    {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:51820 udp;
                error_log /var/log/nginx/wireguard.error.log;

                proxy_pass      {{ WIREGUARD_TRAFFIC_IP }}:51820;
                proxy_timeout   1s;
        }
}
