user www-data;
worker_processes auto;
pid /run/nginx.pid;
worker_rlimit_nofile 30000;
include /etc/nginx/modules-enabled/*.conf;

events {
        worker_connections 16384;
        # multi_accept on;
}

http {

        ##
        # Basic Settings
        ##

        sendfile on;
        tcp_nopush on;
        tcp_nodelay on;
        keepalive_requests 300;
        keepalive_timeout 1h;
        types_hash_max_size 2048;
        # server_tokens off;

        # server_names_hash_bucket_size 64;
        # server_name_in_redirect off;

        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        ##
        # SSL Settings
        ##

        ssl_protocols TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
        ssl_prefer_server_ciphers on;

        ssl_ecdh_curve prime256v1:secp384r1:secp521r1;
        ssl_session_cache   shared:SSL:10m;
        ssl_session_timeout 24h;
        ssl_buffer_size 4k;
        ssl_certificate     /etc/letsencrypt/live/{{ MY_DOMAIN }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ MY_DOMAIN }}/privkey.pem;

        ##
        # Logging Settings
        ##

        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        ##
        # Gzip Settings
        ##

        gzip on;

        # gzip_vary on;
        # gzip_proxied any;
        # gzip_comp_level 6;
        # gzip_buffers 16 8k;
        # gzip_http_version 1.1;
        # gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

        ##
        # Request limiting Settings
        ##

        limit_req_zone $binary_remote_addr zone=one:10m rate=1r/s;

        ##
        # File Upload size limiting Settings
        ##
        client_max_body_size 100M;

        ##
        # Virtual Host Configs
        ##

        server {

                listen 127.0.0.1:9090;
                location /nginx_status {
                        stub_status on;

                        access_log off;
                        allow 127.0.0.1;
                        deny all;
                }
        }

        server {
                listen      {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:80 default_server;
                server_name _;

                return 301 https://$host$request_uri;
        }

        # Bitwarden
        server {
                listen      {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:443 ssl http2;
                server_name bitwarden.{{ MY_DOMAIN }};
                access_log  /var/log/nginx/bitwarden.{{ MY_DOMAIN }}.access.log;

                location / {
                        proxy_pass http://{{ BITWARDEN_IP }}:80;
                        proxy_set_header Host $http_host;
                        proxy_set_header X-Real-IP $remote_addr;
                        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                        proxy_set_header X-Forwarded-Proto $scheme;
                }
        }

        # Kube Ops View
        server {
                listen      {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:443 ssl http2;
                server_name kube.{{ MY_DOMAIN }};
                access_log  /var/log/nginx/kube.{{ MY_DOMAIN }}.access.log;

                location / {
                        proxy_pass http://{{ KUBE_OPS_VIEW_IP }}:80;
                        proxy_set_header Host $http_host;
                        proxy_set_header X-Real-IP $remote_addr;
                        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                        proxy_set_header X-Forwarded-Proto $scheme;
                }
        }

        # Mattermost
        upstream mattermost_k8s {
                server {{ MATTERMOST_IP }}:80;
                keepalive 32;
        }

        proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=mattermost_cache:10m max_size=3g inactive=120m use_temp_path=off;

        server {
                listen      {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:443 ssl http2;
                server_name mattermost.{{ MY_DOMAIN }};
                access_log  /var/log/nginx/mattermost.{{ MY_DOMAIN }}.access.log;

                location ~ /api/v[0-9]+/(users/)?websocket$ {
                        proxy_set_header Upgrade $http_upgrade;
                        proxy_set_header Connection "upgrade";
                        client_max_body_size 50M;
                        proxy_set_header Host $http_host;
                        proxy_set_header X-Real-IP $remote_addr;
                        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                        proxy_set_header X-Forwarded-Proto $scheme;
                        proxy_set_header X-Frame-Options SAMEORIGIN;
                        proxy_buffers 256 16k;
                        proxy_buffer_size 16k;
                        client_body_timeout 60;
                        send_timeout 300;
                        lingering_timeout 5;
                        proxy_connect_timeout 90;
                        proxy_send_timeout 300;
                        proxy_read_timeout 90s;
                        proxy_pass http://mattermost_k8s;
                }

                location / {
                        client_max_body_size 50M;
                        proxy_set_header Connection "";
                        proxy_set_header Host $http_host;
                        proxy_set_header X-Real-IP $remote_addr;
                        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                        proxy_set_header X-Forwarded-Proto $scheme;
                        proxy_set_header X-Frame-Options SAMEORIGIN;
                        proxy_buffers 256 16k;
                        proxy_buffer_size 16k;
                        proxy_read_timeout 600s;
                        proxy_cache mattermost_cache;
                        proxy_cache_revalidate on;
                        proxy_cache_min_uses 2;
                        proxy_cache_use_stale timeout;
                        proxy_cache_lock on;
                        proxy_http_version 1.1;
                        proxy_pass http://mattermost_k8s;
                }
        }

        # Nextcloud
        server {
                listen      {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:443 ssl http2;
                server_name nextcloud.{{ MY_DOMAIN }};
                access_log  /var/log/nginx/nextcloud.{{ MY_DOMAIN }}.access.log;
                server_tokens off;
                proxy_hide_header X-Powered-By;

                rewrite ^/.well-known/webfinger /public.php?service=webfinger last;
                rewrite ^/.well-known/host-meta /public.php?service=host-meta last;
                rewrite ^/.well-known/host-meta.json /public.php?service=host-meta-json;

                location = /.well-known/carddav {
                        return 301 $scheme://$host/remote.php/dav;
                }
                location = /.well-known/caldav {
                        return 301 $scheme://$host/remote.php/dav;
                }

                location = /robots.txt {
                        proxy_pass http://{{ NEXTCLOUD_IP }}:80;
                        allow all;
                        log_not_found off;
                        access_log off;
                        proxy_set_header Host $http_host;
                        proxy_set_header X-Real-IP $remote_addr;
                        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                        proxy_set_header X-Forwarded-Proto $scheme;
                }
                location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)/ {
                        deny all;
                }
                location ~ ^/(?:autotest|occ|issue|indie|db_|console) {
                        deny all;
                }

                location / {
                        proxy_pass http://{{ NEXTCLOUD_IP }}:80;
                        proxy_set_header Host $http_host;
                        proxy_set_header X-Real-IP $remote_addr;
                        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                        proxy_set_header X-Forwarded-Proto $scheme;
                }
        }

        # Whoogle
        server {
                listen      {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:443 ssl http2;
                server_name whoogle.{{ MY_DOMAIN }};
                access_log  /var/log/nginx/whoogle.{{ MY_DOMAIN }}.access.log;

                location / {
                        proxy_pass http://{{ WHOOGLE_IP }}:80;
                        proxy_set_header Host $http_host;
                        proxy_set_header X-Real-IP $remote_addr;
                        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                        proxy_set_header X-Forwarded-Proto $scheme;
                }
        }

        # My site and default
        server {
                listen      {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:443 ssl http2;
                server_name {{ MY_DOMAIN }} *.{{ MY_DOMAIN }};
                access_log  /var/log/nginx/{{ MY_DOMAIN }}.access.log;

                location / {
                        proxy_pass http://{{ DENNIS_SITE_IP }}:80;
                        proxy_set_header Host $http_host;
                        proxy_set_header X-Real-IP $remote_addr;
                        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                        proxy_set_header X-Forwarded-Proto $scheme;

                        # kill cache
                        add_header Last-Modified $date_gmt;
                        add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
                        if_modified_since off;
                        expires off;
                        etag off;
                }
        }
}

stream {
        server {
                listen     {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:53 udp;
                error_log /var/log/nginx/dns.error.log;

                proxy_pass      127.0.0.1:5353;
                proxy_timeout   1s;
        }

        server {
                listen    {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:51820 udp;
                error_log /var/log/nginx/wireguard.error.log;

                proxy_pass      {{ WIREGUARD_TRAFFIC_IP }}:51820;
                proxy_timeout   1s;
        }
}
