WEBPASSWORD=1e375ea8845072a6d520296298cadd2c13e6aa4a8136207c01c57a0a4b42f7a1
BLOCKING_ENABLED=true
PIHOLE_INTERFACE={{ PIHOLE_INTERFACE }}
IPV4_ADDRESS={{ PIHOLE_LISTEN_ADDRESS }}/24
IPV6_ADDRESS=
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
DNSMASQ_LISTENING=single
PIHOLE_DNS_1=8.8.8.8#53
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSSEC=false
REV_SERVER=false
