- name: Install tools
  ansible.builtin.apt:
    pkg:
      - curl
      - screen
      - unzip
      - ruby-dev
    update_cache: yes
  become: yes

- import_tasks: bat.yml
  become: yes

- import_tasks: exa.yml
  when: ansible_architecture == 'x86_64'
  become: yes

- import_tasks: hstr.yml
  when: ansible_architecture == 'x86_64'

- import_tasks: bpytop.yml
  become: yes

- import_tasks: haste.yml
  become: yes
